<svg id='viewbox' width='100%' height='100%' (window:resize)="onResize($event)" (window:load)="onResize($event)">
    <defs>
        <g id='land_4way'>
            <path style="fill: inherit;" d="M 0 0 L 0 1 L 1 1 L 1 0 Z" class="land"/>
        </g>
        <g id='land_3way'>
            <path style="fill: inherit;" d="M 0 0 L 0 1 L 1 1 L 1 0 L 0.85 0.15 L 0.15 0.15 Z" class="land"/>
        </g>
        <g id='land_2way_curve'>
            <path style="fill: inherit;" d="M 0 1 L 1 1 L 1 0 Q 0.141 0.141 0 1 Z" class="land"/>
        </g>
        <g id='land_2way_strait'>
            <path style="fill: inherit;" d="M 0 0 L 0.15 0.15 L 0.85 0.15 L 1 0 L 1 1 L 0.85 0.85 L 0.15 0.85 L 0 1 Z" class="land"/>
        </g>
        <g id='land_1way'>
            <path style="fill: inherit;" d="M 0 1 L 0.5 0.5 L 1 1 Z" class="land"/>
        </g>
    </defs>
    <svg:use 
        *ngFor="let land of board"
        xlink:href="#land_3way"
        [attr.x]="land.x"
        [attr.y]="land.y"
        [attr.fill]="land.color" 
        [attr.transform]="'scale('+landSize+', '+landSize+')'"
        [attr.transform]="'rotate('+land.rotation+'deg)'"
    ></use>
</svg>
