<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<game-board #gameBoard
    *ngIf='isInAGame'
    [style.width]='minWindowSize+"px"' 
    [style.height]='minWindowSize+"px"'
    [socket]='socket'
    [gameId]='currentGameId'
    [minWindowSize]='minWindowSize'
    [maxWindowSize]='maxWindowSize'
    [windowWidth]='windowWidth'
    [windowHeight]='windowHeight'
    [isWindowVertical]='isWindowVertical'>
></game-board>
<side-board 
    *ngIf='isInAGame'
    [socket]='socket'
    [gameId]='currentGameId'
    [minWindowSize]='minWindowSize'
    [maxWindowSize]='maxWindowSize'
    [windowWidth]='windowWidth'
    [windowHeight]='windowHeight'
    [isWindowVertical]='isWindowVertical'>
</side-board>
<div *ngIf='!isInAGame'>
    <ul>
        <li *ngFor="let gameListing of gameListings">
            <span *ngIf="gameListing">
                {{gameListing.name}} <button (click)='onJoinButton(gameListing.id)'>Join</button>  ({{gameListing.currentPlayers}}/{{gameListing.maxPlayers}}) 
            </span>
        </li>
    </ul>
</div>
<div id='windowEvents'
    (window:resize)="onResize($event)"
    (window:load)="onResize($event)">
</div>