<svg id='viewbox' width='100%' height='100%'>
    <defs>
        <g id='land_4way'>
            <path style="fill: inherit;" d="M 0 0 L 0 100 L 100 100 L 100 0 Z" class="land"/>
        </g>
        <g id='land_3way'>
            <path style="fill: blue;" d="M 0 0 L 0 100 L 100 100 L 100 0 L 75 25 L 25 25 Z" class="land"/>
        </g>
        <g id='land_2way_curve'>
            <path style="fill: blue;" d="M 0 100 L 100 100 L 100 0 Q 14.1 14.1 0 100 Z" class="land"/>
        </g>
        <g id='land_2way_strait'>
            <path style="fill: blue;" d="M 0 0 L 25 25 L 75 25 L 100 0 L 100 100 L 75 75 L 25 75 L 0 100 Z" class="land"/>
        </g>
        <g id='land_1way'>
            <path style="fill: blue;" d="M 0 100 L 50 50 L 100 100 Z" class="land"/>
        </g>
    </defs>
    <text y="15">blue</text>
    <use xlink:href="#land_3way" x='50' y='50' style="fill: blue;"/>
</svg>
