//
  This Source Code Form is subject to the terms of the Mozilla Public
  - License, v. 2.0. If a copy of the MPL was not distributed with this
  - file, You can obtain one at http://mozilla.org/MPL/2.0/.
#wrapper([style.background]='layout?layout.mainBackground:"none"')
    #gameWrapper('*ngIf'='isInAGame')
        game-board(
            [style.display]="boards[0]?'block':'none'", 
            [style.width]='(scale*layout.viewBox.width)+"px"', 
            [style.height]='(scale*layout.viewBox.height)+"px"', 
            [style.margin-left]='(scale*layout.viewBox.x)+"px"', 
            [style.margin-top]='(scale*layout.viewBox.y)+"px"', 
            [socket]='socket', 
            [gameId]='currentGameId', 
            [scale]='scale', 
            [layout]='layout', 
            [setSelectedCard]='setSelectedCard()', 
            [minWindowSize]='minWindowSize', 
            [maxWindowSize]='maxWindowSize', 
            [isWindowVertical]='isWindowVertical', 
            [unitActions]='unitActions')
        side-board(
           [isFullWindow]='boards[2]', 
           [scale]='scale', 
           [layout]='layout', 
           [minWindowSize]='minWindowSize', 
           [maxWindowSize]='maxWindowSize', 
           [isWindowVertical]='isWindowVertical')
        #navMenuWrapper
            go-to-button([scale]='scale',[locations]='boards',[location]='0',
                [buttonLayout]='layout.gameBoard.goToButton', [layout]='layout')
            go-to-button([scale]='scale',[locations]='boards',[location]='1',
                [buttonLayout]='layout.cardBoard.goToButton', [layout]='layout')
            go-to-button([scale]='scale',[locations]='boards',[location]='2',
                [buttonLayout]='layout.infoBoard.goToButton', [layout]='layout')
            button#endTurn(
                [style.background]='layout.endTurnButton.background', 
                [style.color]='layout.endTurnButton.textColor', 
                [style.top]='(layout.endTurnButton.y * scale)+"px"', 
                [style.left]='(layout.endTurnButton.x * scale)+"px"', 
                [style.width]='(layout.endTurnButton.width * scale)+"px"', 
                [style.height]='(layout.endTurnButton.height * scale)+"px"', 
                [style.font-size]='(layout.textSize.normText*scale)+"px"',
                (click)='onEndTurn($event)')
                | {{layout.endTurnButton.text}}
    #gameSelectWrapper(*ngIf='!isInAGame')
        div
            h3 Public Games
            ul
                li(*ngFor='let gameListing of gameListings')
                    span(*ngIf='gameListing')
                    | {{gameListing.name}} 
                    button((click)='onJoinButton(gameListing.id)') Join
                    |   ({{gameListing.currentPlayers}}/{{gameListing.maxPlayers}})
        br
        hr
        br
        div
            h3 Private Games
            | Gives you a unque url that you can use to let anyone join you
            br
            button((click)='onRequestPrivateGame($event)') Create Private Game
        br
        hr
        br
        footer
            | If you would like to see my license for most of this program's source code, go 
            a(href='/license') here
            | . 
            br
            |             You can also get a copy of the source code 
            a(href='https://github.com/BoisterousCoder/project-magic') here
            | .
    .loadingScreen(*ngIf='isLoading')
        img(src='assets/loading.gif')
    #windowEvents((window:resize)='onResize()', (window:load)='onResize()')