<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div id='scrollContainer'
    [style.width]='(scale*layout.viewBox.width)+"px"' [style.height]='(scale*layout.viewBox.height)+"px"'
    (scroll)="onScroll($event)">
    <svg id='viewbox' 
        [style.width]='(scale*layout.viewBox.width)+"px"' [style.height]='(scale*layout.viewBox.height)+"px"'
        (mousedown)="mouse.onDown($event)"
        (mousemove)="mouse.onMove($event, 1/landSize)"
        (mouseup)="mouse.onUp($event)">
        <defs>
            <g id='land_4way'>
                <path stroke='none' style="fill: inherit;" d="M 0 0 L 0 1 L 1 1 L 1 0 Z" class="land"/>
                <!--<rect width='0.9875' height='0.9875' stroke-width='0.025' stroke-linecap="square"fill='none' stroke='black'/>-->
            </g>
            <g id='land_3way'>
                <path stroke='none' style="fill: inherit;" d="M 0 0 L 0 1 L 1 1 L 1 0 L 0.85 0.15 L 0.15 0.15 Z" class="land"/>
                <!--<rect width='0.9875' height='0.9875' stroke-width='0.025' stroke-linecap="square"fill='none' stroke='black'/>-->
            </g>
            <g id='land_2way_curve'>
                <path stroke='none' style="fill: inherit;" d="M 0 1 L 1 1 L 1 0 L 0.85 0.15 L 0.15 0.15 L 0.15 0.85 Z" class="land"/>
                <!--<rect width='0.9875' height='0.9875' stroke-width='0.025' stroke-linecap="square"fill='none' stroke='black'/>-->
            </g>
            <g id='land_2way_strait'>
                <path stroke='none' style="fill: inherit;" d="M 0 0 L 0.15 0.15 L 0.85 0.15 L 1 0 L 1 1 L 0.85 0.85 L 0.15 0.85 L 0 1 Z" class="land"/>
                <!--<rect width='0.9875' height='0.9875' stroke-width='0.025' stroke-linecap="square"fill='none' stroke='black'/>-->
            </g>
            <g id='land_1way'>
                <path stroke='none' style="fill: inherit;" d="M 0 1 L 0.15 0.85 L 0.15 0.15 L 0.85 0.15 L 0.85 0.85 L 1 1 Z" class="land"/>
                <!--<rect width='0.9875' height='0.9875' stroke-width='0.025' stroke-linecap="square"fill='none' stroke='black'/>-->
            </g>
        </defs>
        <svg:use 
            *ngFor="let land of board"
            [attr.xlink:href]="'#'+land.dispalyId"
            [attr.x]="land.x + viewOffset.x"
            [attr.y]="land.y + viewOffset.y"
            [attr.fill]="land.color"
            [attr.tileId]='land.id'
            [attr.transform]="'scale('+landSize+', '+landSize+'), rotate('+land.rotation+', ' + (0.5+land.x+viewOffset.x) + ', ' + (0.5+land.y+viewOffset.y) + ')'"
            (click)="onTileClick($event)"
        ></use>
        <image 
            *ngFor="let unit of units"
            [attr.xlink:href]="unit.img" 
            [attr.class]='unit.isSelected?"blink":""'
            [attr.x]="(unit.x + viewOffset.x + 0.15)/0.70" 
            [attr.y]="(unit.y + viewOffset.y + 0.15)/0.70"
            [attr.transform]="'scale('+landSize*0.70+', '+landSize*0.70+')'"
            height="1" width="1"
        />
    </svg>
</div>
