//
    This Source Code Form is subject to the terms of the Mozilla Public
    - License, v. 2.0. If a copy of the MPL was not distributed with this
    - file, You can obtain one at http://mozilla.org/MPL/2.0/.
#sideBoardWrapper([style.width]='divWidth+"px"', [style.height]='divHeight+"px"', [style.top]='divX+"px"', [style.left]='divY+"px"')
    div(*ngIf='isCardSelected')
        div
            h1([style.font-size]='getTextSize("heading")')
                | {{selectedCard.name}}
            img([src]='imgSrc', 
                [style.width]='(this.maxWindowSize-this.minWindowSize)+"px"', 
                [style.max-width]='(layout.infoBoard.img.maxWidth*scale)+"px"',
                [style.max-height]='(layout.infoBoard.img.maxHeight*scale)+"px"')
        div
            h2([style.font-size]='getTextSize("subHeading")') Description
            .p([style.font-size]='getTextSize("normText")')
                | {{selectedCard.desc}}
        div(*ngIf='selectedCard.unit')
            h2([style.font-size]='getTextSize("subHeading")') 
                | Unit Stats
            .p(*ngFor='let display of selectedCard.propertyDisplay',
                [style.font-size]='getTextSize("normText")')
                | {{display.display}}: {{selectedCard.unit[display.property]}}
            .p([style.font-size]='getTextSize("normText")')
                | Action Points (AP): {{selectedCard.action.perTurn}}
        div(*ngIf='selectedCard.unit')
            h2([style.font-size]='getTextSize("subHeading")')
                | Actions
            .bold(*ngFor='let actionName of selectedCard.action.buttons',
                [style.font-size]='getTextSize("normText")')
                | {{actionName}}
                br
                .p(*ngIf='selectedCard.action[actionName].cost',
                    [style.font-size]='getTextSize("normText")')
                    | AP Cost: {{selectedCard.action[actionName].cost}}
                .p(*ngIf='!selectedCard.action[actionName].cost',
                    [style.font-size]='getTextSize("normText")')
                    | AP Cost: 0
                .p.monospace(*ngIf='selectedCard.action[actionName].map')
                    .p(*ngFor='let command of mapToCommandArray(selectedCard.action[actionName].map)',
                        [style.font-size]='getTextSize("normText")')
                        |{{command}}