//
    This Source Code Form is subject to the terms of the Mozilla Public
    - License, v. 2.0. If a copy of the MPL was not distributed with this
    - file, You can obtain one at http://mozilla.org/MPL/2.0/.
button(
    [style.background]='buttonLayout.background', 
    [style.color]='buttonLayout.textColor', 
    [style.top]='(buttonLayout.y * scale)+"px"', 
    [style.left]='(buttonLayout.x * scale)+"px"', 
    [style.width]='(buttonLayout.width * scale)+"px"', 
    [style.height]='(buttonLayout.height * scale)+"px"',
    [style.font-size]='(layout.textSize.normText*scale)+"px"',
    (click)='onClick($event)')
    | {{buttonLayout.text}}
